---
layout: blog
---
{% include featured-video.html %}
<div class="blog container">
  <h2>Latest Stories</h2>
  <div class="row stories">
    {% for post in paginator.posts %}
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
      <a href="{{post.url}}">
        <div class="card">
          {% if post.image and post.image.path%}
          <img alt="{{post.title}}" src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ post.image.path }}&w=400&output=jpg" />
          {% else %}
          <img alt="{{post.title}}" src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ post.image }}&w=400&output=jpg" />
          {%endif %}
          <h3 class="card-title">{{ post.title }}</h3>
          <div class="card-body">
            <div class="date-container">
              <div class="date">{{ post.date | date_to_string}}</div>
              <div class="mock"></div>
            </div>
            <div class="card-text">{{ post.content | strip_html | truncatewords: 30, '...'}}</div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <hr>
  {% if paginator.total_pages > 1 %}
  <nav aria-label="Blog navigation" class="modern-pagination">
    <ul class="pagination justify-content-center">
      {% if paginator.previous_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="d-none d-sm-inline">Previous</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="d-none d-sm-inline">Previous</span>
        </span>
      </li>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
      <li class="page-item active" aria-current="page">
        <span class="page-link">{{ page | pnumber }}</span>
      </li>
      {% elsif page == 1 %}
      <li class="page-item d-none d-sm-block">
        <a class="page-link" href="/">{{ page | pnumber }}</a>
      </li>
      {% else %}
      <li class="page-item d-none d-sm-block">
        <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page | pnumber }}</a>
      </li>
      {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
          <span class="d-none d-sm-inline">Next</span>
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-label="Next">
          <span class="d-none d-sm-inline">Next</span>
          <span aria-hidden="true">&raquo;</span>
        </span>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

</div>

<style>
  main {
    box-shadow: none;
    border: none;
  }
</style>